<div class="jumbotron">
  <h1 class="display-4"><%= @post.title %></h1>
  <p class="lead"><em><strong>Written by</strong> <%= @post.user.id %> <%= @post.created_at.strftime("on %B %d, %Y at %l:%M") %> to <%= @post.category.name %></em></p>
  <p class="lead"><%= @post.views %>
    <%if @post.views==1%>
    view
    <%else%>
    views
    <%end%>
  | <%= @post.drafts %>
</p>
  <hr class="my-4">
  <p><%= @post.body %></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<!--<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<p>
  <strong>Views:</strong>
  <%= @post.views %>
</p>
<p>
  <strong>User:</strong>
  <% @post.user %>
</p>
<p>
  <strong>Drafts:</strong>
  <%= @post.drafts %>
</p>
<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>
<% if current_user && is_admin? %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>-->