<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path%>">abbyhdsn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= root_path%>">Home</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="<%= posts_path%>">Blog</a>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%=posts_path(cat: Category.first.name) %>"> About Me </a>
          <div class="dropdown-divider"></div>
          <% Category.where.not(id: 1).left_joins(:posts).group(:id).order("COUNT(posts.id) DESC").limit(5).each do |cat|%>
          <a class="dropdown-item" href="<%=posts_path(cat: cat.name) %>"> <%= cat.name%> </a>
          <% end %>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="<%= pages_about_path%>">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= pages_contact_path%>">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
          <%= current_user.email%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%=edit_user_registration_path%>">My Account</a>
          <% if is_admin?%>
          <a class="dropdown-item" href="<%= new_post_path%>">New Post</a>
          <a class="dropdown-item" href="<%= new_category_path%>">New Category</a>
          <% end%>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>
        </div>
      </li>
      <% else%>
       <li class="nav-item">
        <a class="nav-link" href="<%= new_user_session_path%>">Sign In</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="<%= new_user_registration_path%>">Sign Up</a>
      </li>
      <% end %>
    </ul>
  </div>
</nav>